.body{
    margin: 0;
}

.sidebar {
    position: fixed; /* Fix the sidebar to the left */
    top: 0;
    left: 0;
    width: 200px; /* Set a consistent width */
    height: 100vh; /* Full viewport height */
    background-color: gray;
    padding: 20px; /* Add padding for spacing */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    z-index: 100; /* Ensure it stays above the content */
}
.logo{
    display: flex;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: white; 
}

.menu-container {
    margin-top: 10px; /* Adjust as needed */
}

.menu-item {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border: 1px solid transparent; /* Initial transparent border */
    border-radius: 5px; /* Optional, for rounded corners */
    box-sizing: border-box; /* Includes padding/border in width calculation */
}

.menu-item:hover {
    background-color: #333; /* Highlight color on hover */
    color: #f1f1f1;
    border-color: #333; /* Same as background color for consistent look */
    width: 100%;
}

.bar{
    color: darkgrey; 
}

.sidebar a {
    padding: 5px 15px; /* Reduced padding here as well */
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: black;

}

.sidebar a:hover {
    color: #f1f1f1;
}

.accounts {
    width: calc(100% - 180px); /* Adjust width to fill the remaining space */
    height: 100vh;
    background-color: lightgrey;
}